article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background: #191919;
  font-family: 'Lato', sans-serif; }

button {
  border: none;
  border-radius: 25px; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.title {
  margin: 50px 0;
  text-align: center;
  font-size: 5rem;
  color: white; }

.title__paragraph {
  color: #999;
  width: 60%;
  margin: 50px auto;
  font-size: 2rem; }

.title__paragraph {
  text-align: center; }

.mainFlex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.animationFrame {
  width: 800px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid black;
  border-radius: 15px;
  background: #556270; }

.initial__input {
  margin-bottom: 20px; }

.inputs {
  display: flex;
  background: black;
  border-radius: 15px;
  padding: 20px;
  flex-direction: column;
  margin-left: 20px;
  color: #999;
  font-size: 2rem; }
  .inputs input, .inputs select, .inputs button {
    margin: 5px; }

.cssTitle {
  margin-top: 0; }

.cssOutput__field {
  font-family: 'Droid Sans Mono', monospace;
  color: #999;
  display: block;
  padding: 20px;
  margin: 0;
  margin-top: 20px;
  font-size: 1rem;
  background: black;
  border-radius: 15px;
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 45px; }

.gallery__title {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin: 40px; }

.animationGallery {
  display: flex;
  flex-wrap: wrap;
  background: black;
  border-radius: 15px;
  border: 20px solid black; }

.animationGallery__container {
  display: flex;
  flex-wrap: wrap;
  width: 31%;
  margin: 1%;
  border: 1px solid white;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #556270; }

.animationGallery__delete {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #191919;
  color: #999; }

.animationGallery__onScreen {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: #191919;
  color: #999; }

@media (max-width: 1000px) {
  .animationFrame {
    width: 600px; }
  .cssOutput__field {
    width: 600px; }
  .inputs {
    width: 100%;
    margin-left: 0; } }

@media (max-width: 850px) {
  .animationFrame {
    width: 500px; }
  .cssOutput__field {
    width: 500px; } }

@media (max-width: 730px) {
  .animationFrame {
    width: 100vw; }
  .animationGallery__container {
    height: 100px; }
  .cssOutput__field {
    display: none; }
  .cssWrap {
    order: 1; }
  .inputControl {
    order: 2;
    width: 100%;
    border-radius: 0; }
  .inputs {
    width: 100%;
    border-radius: 0; }
  .mainFlex {
    flex-direction: column;
    align-items: center; }
  .animationGallery__delete {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #191919;
    color: #999; }
  .animationGallery__onScreen {
    position: absolute;
    top: 5px;
    bottom: inherit;
    background: #191919;
    color: #999; }
  .animationGallery__container {
    width: 48%;
    height: 150px; } }
